---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
SortIncludes: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: true

# align variables
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false

# function return type
AlwaysBreakAfterDefinitionReturnType: All

IndentPPDirectives: BeforeHash 
IndentCaseLabels: true
